<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% block title %}{% if not request.user.is_staff %}Shopping Manager{% else %}Inventory Manager{% endif %}{% endblock %} -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'supplies/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        {% if request.user.is_authenticated %}
            <div class="sidebar">
                <h2>{% if not request.user.is_staff %}Shopping Manager{% else %}Inventory Manager{% endif %}</h2>
                <ul>
                    {% if not request.user.is_staff%}
                        <li><a href="{% url 'supplies:customer_dashboard' %}">Customer Dashboard</a></li>
                        <li><a href="{% url 'supplies:customer_purchase_details' %}">Purchases</a></li>
                        
                    {% else %}
                        <li><a href="{% url 'supplies:admin_dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'supplies:category_list' %}">Product Categories</a></li>
                        <li><a href="{% url 'supplies:supplier_list' %}">Suppliers</a></li>
                        <li><a href="{% url 'supplies:customer_list' %}">Customers</a></li>
                        <li><a href="{% url 'supplies:all_sales' %}">Sales</a></li>
                    {% endif %}
                    <li><a href="{% url 'supplies:product_list' %}">Products</a></li>
                    
                    <li><a href="{% url 'supplies:customer_logout' %}">Logout</a></li>
                </ul>
            </div>
            
            <div class="content">
                <div class="header">
                    <div class="search-box">
                        <input type="text" placeholder="Search...">
                        <button>Search</button>
                    </div>
                    <div class="user-profile">
                        {% if not request.user.is_staff %}
                            {{ request.user.customer_first_name }} 
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                        <img src="{% static 'images/user-icon.png' %}" alt="User Profile" id="profile-icon">
                        <div class="dropdown" id="dropdown-menu">
                            <div class="dropdown-item">View Profile</div>
                            <div class="dropdown-item">Settings</div>
                            <div class="dropdown-item" onclick="logout()">
                                <a href="{% url 'supplies:customer_logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    {% block content %}
                    <!-- Main content will go here -->
                    {% endblock %}
                </div>
            </div>
        {% else %}
            <div class="user-profile">
                <div class="dropdown-item"><a href="{% url 'supplies:customer_access' %}">Login</a></div>
            </div>
        {% endif %}
    </div>
    

    <script>
        $(document).ready(function() {
            $('#profile-icon').click(function() {
                $('#dropdown-menu').toggle();
            });
            $(document).click(function(event) {
                if (!$(event.target).closest('.user-profile').length) {
                    $('#dropdown-menu').hide();
                }
            });
        });

        function logout() {
            // Add your logout logic here
            alert('Logging out...');
        }
    </script>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</body>
</html>

