{% extends "supplies/base_user.html" %}
{% block title %}Create Supplier{% endblock %}
{% block content %}
<h2>Create New Supplier</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <label class="label" for="supplier_name">Supplier Name:</label>
        <input class="input-text" type="text" id="supplier_name" name="supplier_name" required>

        <label class="label" for="supplier_email">Supplier Email:</label>
        <input class="input-email" type="email" id="supplier_email" name="supplier_email" required>

        <label class="label" for="supplier_phone">Supplier Phone:</label>
        <input class="input-text" type="text" id="supplier_phone" name="supplier_phone" required>

        <button class="btn" type="submit">Save Supplier</button>
    </form>
<a href="{% url 'supplies:supplier_list' %}">Back to Supplier List</a>


{% endblock %}