{% extends "supplies/base_user.html" %}
{% load static %}
{% block title %}Customer list{% endblock %}
{% block content %}

<h1>Customer List</h1>
<table class="item-table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.username }}</td>
            <td>{{ customer.customer_first_name }}</td>
            <td>{{ customer.customer_last_name }}</td>
            <td>{{ customer.customer_email }}</td>
            <td>{{ customer.customer_phone }}</td>
            <td>
                <div class="dropdown-container">
                    <button class="dropbtn">Select an Action</button>
                    <div class="dropdown-content">
                        <a href="#">Update Customer Detail </Details></a>
                        <a href="{% url 'supplies:delete_customer' customer.id %}">Delete Customer</a>
                        
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'supplies:product_list' %}">Back to Product List</a>

{% endblock %}