{% extends "supplies/base_user.html" %}
{% block content %}

<div class="button-row">
        <div class="card">
        <div class="card-title">Total Products</div>
        <div class="card-text" id="total-products">{{ total_products }}</div> 
    </div>

    <div class="card">
        <div class="card-title">Total Purchases</div>
        <div class="card-text" id="total-sales">{{ total_purchases }}</div> 
    </div>

    <div class="card">
        <div class="card-title">Total Amount Spent</div>
        <div class="card-text" id="total-sales">N{{ total_spent }}</div> 
    </div>

    
</div>


<h3>Recent Purchases</h3>
<table class="item-table">
    <thead>
        <tr>
            <th>Sales Reference</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Date</th>
            <th>Download Receipt</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in recent_purchases %}
        <tr>
            <td>{{ sale.sales_reference }}</td>
            <td>{{ sale.product.product_name }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.total_price }}</td>
            <td>{{ sale.date }}</td>
            <td><a href="{% url 'supplies:receipt_download' sale.sales_reference %}">Download receipt</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No recent purchases found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock %}