{% extends "supplies/base_user.html" %}
{% block content %}

<h2>Purchases</h2>
<table class="item-table">
    <thead>
        <tr>
            <th>Sales Reference</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in purchases %}
        <tr>
            <td>{{ sale.sales_reference }}</td>
            <td>{{ sale.product.product_name }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.total_price }}</td>
            <td>{{ sale.date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">You haven't made any purchases yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}