{% extends "supplies/base_user.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<h1>Dashboard</h1>
<div class="container">
    
    <div class="card">
        <div class="card-title">Total Suppliers</div>
        <div class="card-text" id="total-suppliers">{{ total_suppliers }}</div> 
    </div>

    <div class="card">
        <div class="card-title">Total Products</div>
        <div class="card-text" id="total-products">{{ total_products }}</div> 
    </div>

    <div class="card">
        <div class="card-title">Total Sales</div>
        <div class="card-text" id="total-sales">{{ total_sales }}</div> 
    </div>
<div class="container">
    <div class="container">
        <h2 right-align>Recent Transactions</h2>
    </div>

    <div>
        <table class="item-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Customer</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="transaction-table">
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.id}}</td>
                    <td>{{sale.product.product_name}}</td>
                    <td>{{ sale.customer}}</td>
                    <td>{{ sale.quantity }}</td>
                    <td>{{ sale.total_price}}</td>
                    <td>{{ sale.date }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    
    
</div>
    
{% endblock %}