{% extends "supplies/base_user.html" %}
{% load static %}
{% block title %}My Home{% endblock %}
{% block content %}
<h2>Items</h2>
<div class="container">
    <table class="item-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_category }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.created_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}