{% extends "supplies/base_user.html" %}
{% load static %}
{% block title %}Low Stock Alert {% endblock %}
{% block content %}

<h2>Low Stock Alerts</h2>
<a href="{% url 'supplies:product_list' %}">Back to Product List</a>
<div class="container">
    {% if low_stock_products %}
    <ul>
        {% for product in low_stock_products %}
        <li>{{ product.product_name }} - Current Stock: {{ product.stock_quantity }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No low stock products.</p>
{% endif %}

</div>

{% endblock %}