{% extends "supplies/base_user.html" %}
{% block title %}Payment for Sale {% endblock %}
{% block content %}
<h2>Payment for Sale</h2>
<p>Product: {{ sale.product.product_name }}</p>
<p>Quantity: {{ sale.quantity }}</p>
<p>Total Price: N{{ sale.total_price }}</p>

<form method="post" action="{% url 'supplies:create_payment' %}">
    {% csrf_token %}
    <input type="hidden" name="sales_reference" value="{{ sale.sales_reference }}">
    <button class="btn" type="submit">Proceed to Payment</button>
</form>

<a href="{% url 'supplies:product_list' %}">Back to Product List</a>
{% endblock %}
