{% extends "supplies/base_user.html" %}
{% load static %}
<h2>Pay for Items</h2>
{% block content %}
<h2>Payment for Sale</h2>
<p>Product: {{ sale.product.product_name }}</p>
<p>Quantity: {{ sale.quantity }}</p>
<p>Total Price: N{{ sale.total_price }}</p>
<form method="POST" action="{% url 'supplies:create_payment' sales_reference %}">
    {% csrf_token %}
    <input type="hidden" name="sales_reference" value="{{ sale.sales_reference }}">
    <button type="submit">Pay Now</button>
</form>
<a href="{% url 'supplies:product_list' %}">Back to Product List</a>
{% endblock %}