{% extends "supplies/base_user.html" %}
{% load static %}
{% block title %}Product list{% endblock %}
{% block content %}
<h2>Product List</h2>
<div class="button-row">
    <a href="{% url 'supplies:adjust_stock' %}" class="btn">Adjust Stock</a>
    <a href="{% url 'supplies:low_stock_alerts' %}" class="btn">Low Stock Alerts</a>
    <a href="{% url 'supplies:create_product' %}" class="btn">Create Product</a>
    <!-- <a href="#" class="btn">Action 1</a>
    <a href="#" class="btn">Action 2</a> -->

    <div class="dropdown-container">
        <button class="dropbtn">Export | Import Product</button>
        <div class="dropdown-content">
            <a href="{% url 'supplies:product_list' %}?download=true&sample=true">Download Sample Import File</a>
            <a href="{% url 'supplies:product_list' %}?download=true">Download Product list (CSV)</a>
            <a href="{% url 'supplies:import_products' %}">import Products (CSV)</a>
            <a href="#">Download PDF</a>
        </div>
    </div>
</div>





<div class="container">
    <table class="item-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'supplies:product_detail' product.id %}">{{ product.product_name }}</a></td>
                <td>{{ product.category }}</td>
                <td>{{ product.description }}</td>
                <td>N{{ product.price }}</td>
                <td>{{ product.stock_quantity }}</td>
                <td>
                    <div class="dropdown-container">
                        <button class="dropbtn">Select an Action</button>
                        <div class="dropdown-content">
                            <a href="{% url 'supplies:update_product' product.id %}">Update Product</a>
                            <a href="{% url 'supplies:delete_product' product.id %}">Delete Product</a>
                            <a href="{% url 'supplies:create_sale' %}?product_id={{ product.id }}">Create Sale</a>
                            
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}