{% extends "supplies/base_user.html" %}
{% load static %}
{% block title %}Product list{% endblock %}
{% block content %}
<h2>Supplier List</h2>
    <table class="item-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplier_name }}</td>
                <td>{{ supplier.supplier_email }}</td>
                <td>{{ supplier.supplier_phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'supplies:create_supplier' %}">Add New Supplier</a>
    <a href="{% url 'supplies:product_list' %}">Back to Product List</a>

{% endblock %}