{% extends "supplies/base_user.html" %}
{% block title %}Update Category{% endblock %}
{% block content %}
<h2>Uodate Category</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <label class="label" for="product_name">Category Name:</label>
        <input class="input-text" type="text" id="cat_name" name="cat_name" value="{{ category.cat_name }}" required>

        <label class="label" for="description">Description:</label>
        <Textarea class="input-text" name="cat_description" id="description" >{{ category.cat_description}}</Textarea>

        <button class="btn" type="submit">Update Category</button>
    </form>
<a href="{% url 'supplies:category_list' %}">Back to Category List</a>


{% endblock %}