{% extends "supplies/base_user.html" %}
{% block title %}Update Product{% endblock %}
{% block content %}
<h2>Update Product</h2>
<form method="post" class="form">
    {% csrf_token %}
    <div>
        <label for="product_name" class="label">Product Name:</label>
        <input class="input-text" type="text" id="product_name" name="product_name" value="{{ product.product_name }}" required>
    </div>
    <div>
        <label for="description" class="label">Description:</label>
        <textarea class="input-text" id="description" name="description" required>{{ product.description }}</textarea>
    </div>
    <div>
        <label for="price" class="label">Price:</label>
        <input class="input-text" type="number" id="price" name="price" value="{{ product.price }}" step="0.01" required>
    </div>
    <div>
        <label for="stock_quantity" class="label">Quantity:</label>
        <input class="input-text" type="number" id="stock_quantity" name="stock_quantity" value="{{ product.stock_quantity }}" required>
    </div>
    <div>
        <label for="category_id" class="label">Category:</label>
        <select class="input-text" id="category_id" name="category_id" required>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>{{ category.cat_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="supplier_id" class="label">Supplier:</label>
        <select class="input-text" id="supplier_id" name="supplier_id" required>
            {% for supplier in suppliers %}
                <option value="{{ supplier.id }}" {% if supplier.id == product.supplier.id %}selected{% endif %}>{{ supplier.supplier_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn" type="submit">Update Product</button>
</form>
<a href="{% url 'supplies:product_list' %}">Back to product List</a>


{% endblock %}